@import '../node_modules/bootstrap/scss/bootstrap';
@import './editor_theme';
@import './editor_size';
@import './styles';
@import './blocks/monaco-editor-block';
@import './blocks/h1';
@import './blocks/h2';
@import './blocks/h3';
@import './blocks/h4';
@import './blocks/text-line';
@import './blocks/text-editor';

.note {
  background-color: $color-text-editor-bg;
  min-width: 200px;
  padding: 12px 12px !important;
  // t r b l
}