$size-text-editor-font: 16pt;
$size-code-editor-font: 12pt;
$font-size-h1-text: 40pt;
$font-size-h2-text: 30pt;
$font-size-h3-text: 20pt;
$font-size-h4-text: 10pt;
$font-size-text-line: 12pt;

$line-height-text-editor: 1em;
$line-height-code-editor: 1.5em;

$pad-code-editor-line-number-section: 12px 8px 0 8px;
