//@import '../node_modules/bootstrap/scss/bootstrap';

//$primary: #0074d9;
//$danger: #ff4136;
body {
  background-color: #212529 !important;
  color: #f8f9fa !important;
}

$ff-text-editor: "SF Pro", "SFPro-Regular", "Liberation Sans", sans-serif;
$ff-code-editor: "SF Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
