@import '../editor_theme';
@import '../editor_size';
@import '../styles';

.text-line {
  background-color: $color-text-editor-bg;
  border: 0;
  color: $color-text-editor-font;
  font-size: $font-size-text-line;
  margin: 0;
  min-height: $font-size-text-line;
  min-width: 200px;
  outline: #fff !important;
  position: static;
  resize: none;
  width: 100% !important;
  padding: 12px 12px;
}
