@import '../editor_theme';
@import '../editor_size';
@import '../styles';

.text-editor {
  background-color: $color-text-editor-bg;
  color: $color-text-editor-font;
  font-family: $ff-text-editor;
  font-size: $font-size-text-line;
  line-height: $line-height-text-editor;
  margin: 0;
  min-height: $font-size-text-line;
  min-width: 200px;
  outline: none;
  position: static;
  padding: 0px 12px !important;
  white-space: initial;
}